<div class="container">

  <div class="title" @fadeIn>
    <h1 *ngIf="title" #titleElement>Time to {{ title }}</h1>
    <p *ngIf="!title" #titleElement>Start by naming your event and setting its date.</p>
  </div>

  <div class="countdown">
    <span #dateElement>{{ timeLeft }}</span>
  </div>
  <form class="form">
    <fieldset class="input-group">
      <legend>Title</legend>
      <input 
        id="title" 
        type="text" 
        name="title" 
        placeholder="Event name" 
        [(ngModel)]="title" 
        (input)="updateTitle($event)"
      />
    </fieldset>
    <fieldset class="input-group">
      <legend for="date">Date</legend>
      <input 
        id="date" 
        type="date" 
        name="date"
        [(ngModel)]="date" 
        (ngModelChange)="onDateChange($event)" 
      />
    </fieldset>
  </form>
</div>
